<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Currently</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/currently.css" />
    <script defer type="module" src="scripts/main.js"></script>
    <script defer type="module" src="scripts/currently.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
  </head>
  <body class="hidden">
    <script>
      const language = "<%= language %>";
    </script>

    <div id="blur"></div>
    <%- include('partials/menu-views') %> <%- include('partials/header') %>

    <section id="cards">
      <div id="cards-container" class="swiper-container">
        <div class="swiper-wrapper">
          <% let index = 1; if (locals.timeInfos) { for (const i of timeInfos) {
          %>
          <div class="swiper-slide flex-v">
            <div class="card flex-" id="<%= index %>">
              <div class="flex" id="card-nav">
                <p class="inter light navtext" id="dayNumber">
                  <%= i.dayNumber %>
                </p>
                <h4 class="inter extrabold navtext text-shadow">
                  <% if (index === 1) { %><%= language === 'en' ? 'Today' :
                  'Aujourd\'hui' %><% } else if (index === 2) { %><%= language
                  === 'en' ? 'Tomorrow' : 'Demain' %><% } else { %><%= i.dayName
                  %><% } %>
                </h4>
                <div class="flex" id="buttonHourContainer">
                  <button class="rCircleHigh .menu-toggle dots-container">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      class="dots"
                    >
                      <path
                        d="M10.001 7.8a2.2 2.2 0 1 0 0 4.402A2.2 2.2 0 0 0 10 7.8zm-7 0a2.2 2.2 0 1 0 0 4.402A2.2 2.2 0 0 0 3 7.8zm14 0a2.2 2.2 0 1 0 0 4.402A2.2 2.2 0 0 0 17 7.8z"
                      ></path>
                    </svg>
                  </button>

                  <p class="clock inter light blue"></p>
                </div>
              </div>
              <div class="elementsContainer flex-v" id="<%= i.dayName %>"></div>
            </div>
          </div>
          <% index++; } } %>
        </div>
      </div>
    </section>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </body>
</html>
